table {
    border: 1px solid green;
}

td{
    border: 1px solid green;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: x-large;
}

.player {
    margin-top: 10px;
    margin-right: 30px;
}

.player[name="X"]{
    background-color: lightblue;
}

.player[name="O"]{
    background-color: lightgreen;
}

.highlight {
    border: 5px solid yellow;
}

.unhighlight {
    border: 1px none black;
}